<!DOCTYPE html>
<html lang="en" ng-app="RegApp">

<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body ng-cloak="">
    <div class="col-sm-2 col-lg-4"></div>
    <div ng-controller="RegistrationCtrl as ctrl" class="col-sm-8 col-lg-4 registration-page">
        <h1> Registration </h1>
        <form name="registrationForm" data-ng-submit="registrationForm.$valid && ctrl.registerUser()" novalidate>
            <div class="form-group">

                <span for="email">Email address</span>
                <input id="email" name="email" type="email" placeholder="joe@example.com" class="form-control" required ng-model="ctrl.user.email" /> {{ctrl.user.email}} <!-- two binding -->
                <div class ="validation" data-ng-show="registrationForm.email.$touched || registrationForm.$submitted">
                <div data-ng-show="registrationForm.email.$error.required">
                        <span>Email is required</span> 
                </div>
                    <div data-ng-show="registrationForm.email.$error.email">
                        <span>Email is invalid</span> 
                    </div>
                </div>

                <div class="form-group">
                <label for="password">Password</label>
                <input id="password" name="password" type="password" class="form-control" ng-model="ctrl.user.password" minlength="8" required ng-pattern="/^(?=.*\d)(?=.*[!@#$%^&*])(?=.*[a-z])(?=.*[A-Z]).{8,}$/" />
                <div class ="validation" data-ng-show="registrationForm.password.$touched || registrationForm.$submitted">
                    <div data-ng-show="registrationForm.password.$error.required">
                        <span>Password is required.</span> 
                    </div>
                    <div data-ng-show="registrationForm.password.$error.minlength">
                        <span> Password must be at least 8 character long.</span>
                    </div>
                    <div data-ng-show="registrationForm.password.$error.pattern">
                        <span>Password must include a number, a special character (@, #, $) and both upper and lower case.</span> 
                    </div>
                </div>
                </div>

                <div class="form-group">
                <label for="fullname">Full Name</label>
                <input id="fullname" name="fullname" type="text" class="form-control" ng-model="ctrl.user.fullname"/> {{ ctrl.user.fullname}}
                </div>

                <div class="form-group">
                <label for="gender">Gender</label>
                <br/>
                <input id="gender" name="gender" type="radio" value="M" ng-model="ctrl.user.gender"/> Male
                <br/>
                <input id="gender" name="gender" type="radio" value="F" ng-model="ctrl.user.gender" ng-checked="true"/> Female
                <br/>
                </div> {{ctrl.user.gender}}
                
                <div class="form-group">
                <label for="dateOfBirth">Date of Birth</label>
                <input id="dateOfBirth" name="dateOfBirth" type="date" class="form-control" ng-model="ctrl.user.dateOfBirth" required/> {{ctrl.user.dateOfBirth}}
                </div>
                <div class="validation" data-ng-show="registrationForm.dateOfBirth.$touched || registrationForm.$submitted">
                <div data-ng-show="registrationForm.dateOfBirth.$error.required">
                    <span>Date of Birth is mandatory</span> 
                    </div>

                <div data-ng-show="registrationForm.$submitted && ctrl.ageValid(ctrl.user.dateOfBirth) == false">
                    <span >You must be at least 18 years old.</span> 
                </div> 
                   </div>
           </div>
                       
                <div class="form-group">
                <label for="address">Address</label>
                <input id="address" name="address" type="text" class="form-control" ng-model="ctrl.user.address"/> {{ctrl.user.address}}
                </div>

                <div class="form-group">
                <label for="country">Nationality</label>
                <input id="country" name="country" type="text" class="form-control" ng-model="ctrl.user.country"> {{ctrl.user.country}}
                
                <div class="form-group">
                <label for="contactNumber">Contact number</label>
                <input id="contactNumber" name="contactNumber" type="text" class="form-control" ng-model="ctrl.user.contactNumber"/> {{ctrl.user.contactNumber}}
                </div>


            
                <input id="submit" name="submit" type="submit" class="btn btn-success" />
            </div>
        </form>
    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    

    <script src="js/app.module.js"></script>
     <script src="js/controller.app.js"></script> 
</body>

</html>